<div class="govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/document_list", {
    items: editions.each_with_index.map do |edition, edition_index|
      {
        link: {
          text: edition.title,
          path: public_document_path(edition),
          data_attributes: {
            track_category: "navPolicyAreaLinkClicked",
            track_action: "#{local_assigns.has_key?(:heading) ? heading : "Unknown"}.#{edition_index + 1}",
            track_label: public_document_path(edition),
            track_options: {
              dimension28: editions.count.to_s,
              dimension29: edition.title
            }
          }
        },
        metadata: {
          public_updated_at: edition.display_date_microformat.to_time,
          document_type: t_display_type(edition)
        }
      }
    end
  } %>
</div>