<% if edition.locale_can_be_changed? %>
  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "edition[create_foreign_language_only]",
    items: [
      {
        label: "Create a foreign language only #{edition.model_name.human.downcase}",
        value: "1",
        checked: edition.primary_locale != "en"
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/select", {
    # doesn't seem to support a bold label
    label: "Document language",
    id: "primary_locale",
    name: "edition[primary_locale]",
    error: edition.errors[:primary_locale].first, # this component lacks support for multiple errors
    options: options_for_foreign_language_locale(edition),
  } %>
  <% if edition.is_a?(NewsArticle) %>
    <p class="govuk-body">Warning: News stories without an English version cannot have other translations.</p>
  <% end %>
<% end %>
